@charset "UTF-8";

.value{
	width: 1000px;
	height: 1000px;
}

.ui-schedule {
	border: 0px;
	background-color: #0080ff !important;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 98% !important;
}

.emp1 .fc-content {
	background-color: #006600;
}

.emp2 .fc-content {
	background-color: #003399;
}

.ui-button {
	background: #0000ff !important;
	font-weight: bold;
	border-radius: 0px;
}

