@charset "UTF-8";

.divTopo {
	padding: 5px;
}

.divCabecalho {
	padding-bottom: 5px;
	background-color: blue;
	
	
}

.imagemCentralizada {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 98% !important;
}

.ui-datatable .ui-datatable-data .ui-datatable-odd td{  
	background-color: #FFFFFF;
}

.ui-datatable .ui-datatable-data .ui-datatable-even td{  
	background-color: #F2F5F9;
}