@charset "UTF-8";

.ui-layout-north {
	z-index: 25 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

body {
	background-color: #808080;
}

.panelgrid{
	padding: 5px;
	background-color: #408080;
	margin-bottom: 3px;
}

.divTopo {
	padding: 5px;
	margin-bottom: 3px;
}

.divCabecalho {
	padding-bottom: 5px;
}

.imagemCentralizada {
	display: block;
	margin-left: 0px;
	margin-right: auto;
}

.ui-schedule {
	border: medium; !important;
	border-style: hidden !important;
	background-color: #0080ff important;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 98% !important;
}

.ui-outputlabel {
	font-weight: bold;
	font-size: 30px;
}

.ui-orderlist .ui-orderlist-list {
	height: auto;
}

.ui-button {
	background: #0000ff!important;
	font-weight: bold;
	border-bottom-radius: 1px;
}

.ui-custompanelgrid, .ui-custompanelgrid td {
	font-size: 23px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: blue !important;
}

.body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: bold;
}

.header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #B0C4DE;
	color: #ADD8E6;
	box-shadow: 0px 2px 2px #ccc;
}

.ui-datatable .ui-datatable-data .ui-datatable-odd td {
	background-color: #B5B5B5;
	font-weight: bold;
	font-size: 13px;
	color: #0000FF;
}

.ui-datatable .ui-datatable-data .ui-datatable-even td {
	background-color: #CFCFCF;
	font-weight: bold;
	font-size: 13px;
	color: #0000FF;
}